.bundle
.project
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
webrat.log
nbproject/
nbproject/*
.sass-cache/
.idea/
.idea/*
.idea/**/*
public/assets
public/assets/*
coverage
coverage/*
