<div id="head-div">
  <%= render 'ideas/idea_head' %>
</div>

<div id="table-div">
  <div class="row mobile">
    <div class="twelve columns phone-four">
      The details of the idea
    </div>
  </div>
</div>