


<form accept-charset="UTF-8" action="/sessions" method="post" class="nice"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="+lW5ddJATvSOVLwzr7fjwvgoiKXnsXPcDmy2KcVZ0WY=" /></div>
  <div class="row">
    <div class="seven columns">

      <fieldset>
        <h5>Login</h5>
        <label for="session_email">Email</label>
        <input autofocus="autofocus" id="session_email" name="session[email]" placeholder="example@domain.com" size="30" type="email" class="medium input-text"/>
        <label for="session_password">Password</label>
        <input id="session_password" name="session[password]" size="30" type="password" class="medium input-text"/>
        <input class="nice small radius blue button" name="commit" type="submit" value="Sign in" />
        <p>New user? <a href="/signup">Sign up now!</a></p>
        <p>Forget your password? <a href="/reset-password">Reset password!</a></p>
      </fieldset>
    </div>
  </div>
</form>
<div class="row">
  <div class="seven columns">
    <div class="alert-box success">
      This is a success alert (div.alert-box.success).
      <a href="" class="close">&times;</a>
    </div>
  </div>
</div>

<form accept-charset="UTF-8" action="/sessions" method="post" class="nice"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="+lW5ddJATvSOVLwzr7fjwvgoiKXnsXPcDmy2KcVZ0WY=" /></div>
  <div class="row">
    <div class="seven columns">
      <fieldset>
        <h5>Login</h5>
        <label class="red" for="session_email">Email</label>
        <input autofocus="autofocus" id="session_email" name="session[email]" placeholder="example@domain.com" size="30" type="email" class="medium red input-text"/>
        <small class="error">Whoa, cowboy. Try that again.</small>
        <label class="red" for="session_password">Password</label>
        <input id="session_password" name="session[password]" size="30" type="password" class="medium red input-text"/>
        <small class="error">Whoa, cowboy. Try that again.</small>
        <input class="nice large radius red button" name="commit" type="submit" value="Sign in" />
        <p>New user? <a href="/signup">Sign up now!</a></p>
        <p>Forget your password? <a href="/reset-password">Reset password!</a></p>
      </fieldset>
    </div>
  </div>
</form>