<nav>
  <!-- ZURBar -->
  <div id="zurBar" class="container">
    <div class="row">
      <div class="three columns">
        <h1><a href="./" class="brand">remind me to live</a></h1>
      </div>
      <div class="four columns hide-on-phones left">
        <strong class="left">
          <a href="#">News Feed</a>
          <a href="#">Profile</a>
          <a href="#">Find People</a>
          <a href="#">Calendar</a>
        </strong>
      </div>
      <div class="five columns hide-on-phones right">
        <strong class="right">
          <a href="#">Settings</a>
          <a href="docs/">Sign out</a>
        </strong>
      </div>
    </div>
  </div>
  <!-- /ZURBar -->
</nav>


<section class="exampleBody">
  <div class="container">
    <div class="row">
      <div class="seven columns">
        <div class="row mobile">
          <div class="twelve phone-four columns">
            <form accept-charset="UTF-8" action="/sessions" method="post" class="nice custom">
              <fieldset>
                <div class="row mobile">
                  <div class="twelve columns">
                    <h5>Remind me to</h5>
                  </div>
                </div>
                <div class="row mobile">
                  <div class="ten columns">

                  </div>
                  <div class="two columns">
                    <span  id="characters-left" class="wrap">140</span>
                  </div>
                </div>
                <div class="row mobile">
                  <div class="two columns">
                    <div class="main-form-label">on</div>
                  </div>
                  <div class="four columns">
                    <input id="session_password" size="20" placeholder="10/10/2011" class="small input-text"/>
                  </div>
                  <div class="one columns">
                    <div class="main-form-label">as</div>
                  </div>
                  <div class="three columns">
                    <div class="main-privacy-dropdown">
                      <select style="display:none;">
                        <option SELECTED>Public</option>
                        <option>Private</option>
                      </select>
                      <div class="custom dropdown">
                        <a href="#" class="current">
                          This is a dropdown
                        </a>
                        <a href="#" class="selector"></a>
                        <ul>
                          <li>Public</li>
                          <li>Private</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="two columns">
                    <input id="post-button" class="nice small radius blue button right" name="commit" type="submit" value="Post" />
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Jake Sully</a></strong> wants to remind to <strong>learn to play the piano</strong></p>
            </div>
            <section>
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_37">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_37">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_37">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Jake Sully</a></strong>, <strong><a href="">Michael Joel</a></strong> and <strong><a href="">3 other people</a></strong> want to remind to <strong>find a better job</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">10 days ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_38">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_38">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_38">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Alex Black</a></strong> and <strong><a href="">John Doe</a></strong> want to remind to <strong>climb a volcano</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">10 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_33">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_33">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_33">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>


        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Alex Black</a></strong> and <strong><a href="">John Doe</a></strong> want to remind to <strong>climb a volcano</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_31">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_31">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_31">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Julia White</a></strong> wants to remind to <strong>find a new home</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_34">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_34">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_34">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Jake Sully</a></strong> wants to remind to <strong>learn to play the piano</strong></p>
            </div>
            <section>
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_40">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_40">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_40">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Jake Sully</a></strong>, <strong><a href="">Michael Joel</a></strong> and <strong><a href="">3 other people</a></strong> want to remind to <strong>find a better job</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">10 days ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_41">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_41">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_41">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Alex Black</a></strong> and <strong><a href="">John Doe</a></strong> want to remind to <strong>climb a volcano</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">10 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_42">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_42">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_42">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>


        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Alex Black</a></strong> and <strong><a href="">John Doe</a></strong> want to remind to <strong>climb a volcano</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_43">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_43">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_43">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <div class="row mobile feed-row show-toolbar">
          <div class="two phone-one columns">
            <img src="http://placehold.it/150x150" />
          </div>
          <div class="ten phone-three columns">
            <div class="feed-item">
              <p><strong><a href="">Julia White</a></strong> wants to remind to <strong>find a new home</strong></p>
            </div>
            <section class="">
              <div class="row">
                <div class="three phone-onw columns">
                  <div class="timestamp">2 minutes ago</div>
                </div>
                <div class="nine phone-two columns">
                  <div class="toolbar right invisible" id="item_toolbar_32">
                    <a href="/remind-me-too/37/3" data-remote="true">Remind me too</a> ·
                    <span id="good_idea_32">
                        <a href="/good-idea/37" data-method="post" data-remote="true" rel="nofollow">Good idea</a> (0)
                    </span> ·
                    <span id="done_idea_32">
                        <a href="/done-idea/37" data-method="post" data-remote="true" rel="nofollow">I did this</a> (0)
                    </span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="four columns offset-by-one">
        <div class="main-avatar-panel">
          <div class="row">
            <div class="three phone-one columns">
              <img src="http://placehold.it/50x50" />
            </div>
            <div class="nine phone-three columns">
              <div class="main-avatar-name"><a href="#">John Doe</a></div>
            </div>
          </div>
        </div>
        <div class="panel">
          <h5>Following</h5>
          <div class="view-all-div"><a href="#">view all</a></div>
          <ul class="block-grid four-up">
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
            <li><img src="http://placehold.it/100x100" /></li>
          </ul>
        </div>
        <div class="lists-of-ideas-panel">
          <h5>Quick Links</h5>
          <dl class="nice tabs vertical">
            <dd><a href="index.php">Manage my ideas</a></dd>
            <dd><a href="grid.php">Manage my lists of ideas</a></dd>
          </dl>
        </div>
        <div class="lists-of-ideas-panel">
          <h5>Filter by lists of ideas</h5>
          <dl class="nice tabs vertical">
            <dd><a href="index.php">The Bucket List</a></dd>
            <dd><a href="grid.php">This Year List</a></dd>
            <dd><a href="buttons.php" class="active">Fun List</a></dd>
            <dd><a href="forms.php">Don't Ever Forget List</a></dd>
            <dd><a href="forms.php">Good Stuff List</a></dd>
            <dd><a href="forms.php">Dangerous List</a></dd>
          </dl>
        </div>
      </div>
    </div>

  </div>
</section>