<p>Dear <%= @user.display_name %>,</p>

<p>You have asked to reset your password!</p>

<p>To reset your password please follow the <%= link_to "link", url_for(:controller => :change_reseted_passwords, :action => :edit, :only_path => false, :id => @user.password_reset_code) %></p>

<p>
  Regards,<br />
      Edge Scrum Team
</p>

