<div class="row mobile">
  <div class="nine columns phone-four">
    <%= render 'users/profile_avatar' %>
  </div>
  <div class="three columns phone-four right">
    <%= render :partial => 'users/follow_form', :locals => {:user => @user} %>
  </div>
</div>