<div class="row mobile table-row show-toolbar">
  <div class="two phone-one columns">
    <%= link_to gravatar_for(user, :size => 65), user %>
  </div>
  <div class="seven phone-two columns">
    <div class="table-item">
      <%= link_to user.display_name, user %>
    </div>
    <section>
      <div class="row">
        <div class="twelve phone-four columns">
          <div class="timestamp">joined <%= time_ago_in_words(user.created_at) %> ago</div>
        </div>
      </div>
    </section>
  </div>
  <div class="three phone-one columns">
    <%= render :partial => 'users/follow_form', :locals => {:user => user} %>
  </div>
</div>