<div class="centered-supersized-form-div">
  <div class="row">
    <div class="six columns centered">
      <h3>Join remind me to live</h3>
      <%= render 'edge_auth/form' %>
    </div>
  </div>
</div>