<div class="quick-links-panel">
  <h5>Quick Links</h5>
  <dl class="nice tabs vertical">
    <dd class="<%= users_ideas_active_class %>"><%= link_to "Ideas I want to remember", user_ideas_path %></dd>
    <dd class="<%= idea_lists_active_class %>"><%= link_to "My lists of ideas", idea_lists_path %></dd>
  </dl>
</div>