<div class="row mobile">
  <div class="twelve phone-four columns">
    <%= render :partial => 'idea_forms/form' %>
  </div>
</div>
<%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
<div id="table-div">
  <%= render :partial => 'social_events/table', :locals => {:social_events => @social_events } %>
</div>