<div class="row mobile table-row show-toolbar">
  <div class="twelve phone-four columns">
    <div class="idea-item table-item">
      <%= link_to idea_list.name, idea_list %>
    </div>
    <div class="row bottom-bar">
      <div class="five phone-two columns">
        <div class="timestamp"><%= idea_list.ideas_count %> ideas in this list</div>
      </div>
      <div class="seven phone-two columns">
        <div class="toolbar right invisible" id="item_toolbar_37">
          <%= link_to "Delete", idea_list, :method => :delete,
                                           :remote => true %> ·
          <%= link_to "Edit", edit_idea_list_path(idea_list), :remote => true,
                                                              :title => "Edit #{idea_list.name}"%>
        </div>
      </div>
    </div>
  </div>
</div>