<%= render :partial => 'users/profile_head' %>
<div class="row mobile">
  <div class="twelve columns phone-four">
    <h5>...has the next ideas in <strong><%= @idea_list.name %></strong> list...</h5>
  </div>
</div>