.centered-supersized-form-div {

  margin-top: 20px;

  hr {
    width: 315px;
  }

  .button {
    width: 315px;
  }

  div#flash-container {
    width: 315px;
  }
}


input.input-text.supersize, textarea.supersize {
  font-size: 22px !important;
    height: 45px;
    padding: 6px 8px !important;
    width: 315px !important;
}

.form-field.error small.supersize, small.error.supersize {
  width: 305px;
}

form.nice div.form-field.error small.recaptcha, form.nice small.error.recaptcha {
  margin-left: 3px;
  margin-top: -6px;
  width: 302px;
}

#user_idea_idea_content {
  height: 30px;
  resize: none;
}
#user_idea_reminder_date {

}

#characters-left {
  margin-top: -1px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  #user_idea_idea_content {
    
  }
}

#user_idea_privacy_div .custom.dropdown {
 width: 100% !important; 
}

/* #user_idea_privacy { */
 /* display:none; */
/* width: 200px;
} */

#action_row {
  padding-bottom: 20px;
}