/* ZURB bar */
#zurBar {
  background: #222222;
  border-bottom: solid 4px #1FB3D8;
  padding: 15px 20px 13px 20px;
}


@media handheld, only screen and (max-width: 767px) {
  #zurBar { padding: 15px 0px 13px 0px; }
}

#zurBar h1, #zurBar h2 {
  margin-bottom: 0;
  line-height: 16px;
}

#zurBar h1 {
  color: #1FB3D8;
  font-size: 20px;
  font-weight: normal;
  margin-top: 3px;
}

#zurBar h1 a {
  color: #1FB3D8;
}

#zurBar .left strong { 
  display: block;
  margin: 0;
  height: 14px;
  line-height: 14px;
  position: relative;
  bottom: 3px;
  padding-top: 9px;
  padding-bottom: 20px;
}

#zurBar .left strong a {
  line-height: 14px;
  color: #fff;
  font-weight: 500;
  padding-right: 12px;
}

#zurBar .left strong a.button { padding: 4px 10px; font-weight: bold; }


#zurBar .right strong {
  display: block;
  margin: 0;
  height: 14px;
  line-height: 14px;
  position: relative;
  bottom: 3px;
  padding-top: 9px;
  padding-bottom: 20px;
}

#zurBar .right strong a {
  line-height: 14px;
  color: #fff;
  font-weight: 500;
  padding-right: 12px;
}

#zurBar .right strong a.button { padding: 4px 10px; font-weight: bold; }
