<br/>
<section>
  <div class="row">
    <div class="four mobile-two columns">
      <div class="row">
        <div class="twelve columns">
          <div class="timestamp"><%= time_ago_in_words(idea.created_at) %> ago</div>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <div class="timestamp">by <%= link_to idea.created_by.display_name, idea.created_by %></div>
        </div>
      </div>
    </div>
    <div class="eight mobile-two columns">
      <%= render :partial => 'ideas/row_toolbar', :locals => {:idea => idea} %>
    </div>
  </div>
</section>