<div class="row mobile table-row show-toolbar">
  <div class="two phone-one columns">
    <%= link_to gravatar_for(done_idea_social_event.created_by, :size => 65), done_idea_social_event.created_by %>
  </div>
  <div class="ten phone-three columns">
    <div class="feed-item table-item">
      <strong><a href=""><%= done_idea_social_event.created_by.display_name %></a></strong> marked the "Remind me to <strong><%= done_idea_social_event.idea.content %></strong>" idea as done!
    </div>
    <%= render :partial => 'social_events/idea_toolbar', :locals => { :social_event => done_idea_social_event} %>
  </div>
</div>