<div class="row mobile table-row show-toolbar">
  <div class="two phone-one columns">
    <%= link_to gravatar_for(following_user_social_event.created_by, :size => 65), following_user_social_event.created_by %>
  </div>
  <div class="ten phone-three columns" style="height: 69px;">
    <div class="feed-item table-item">
      <strong><%= link_to following_user_social_event.created_by.display_name, following_user_social_event.created_by %></strong> is now following <%= display_first_users following_user_social_event %>
    </div>
    <div class="row bottom-bar">
      <div class="three phone-one columns">
        <div class="timestamp"><%= time_ago_in_words(following_user_social_event.updated_at) %></div>
      </div>
    </div>
  </div>
</div>