<div class="row mobile table-row show-toolbar">
  <div class="two phone-one columns">
  </div>
  <div class="ten phone-three columns">
    <div class="feed-item table-item">
      <strong><a href=""><%= other_event.id %></a></strong>
      <strong><a href=""><%= other_event.class %></a></strong>
    </div>
  </div>
</div>