  <!-- ZURBar -->
  <div id="zurBar" class="container">
    <div class="row">
      <div class="three columns">
        <h1><a href="./" class="brand">remind me to live</a></h1>
      </div>
      <div class="four columns hide-on-phones left">
        <strong class="left">
          <a href="#">News Feed</a>
          <a href="#">Profile</a>
          <a href="#">Find People</a>
          <a href="#">Calendar</a>
        </strong>
      </div>
      <div class="five columns hide-on-phones right">
        <strong class="right">
          <a href="#">Settings</a>
          <a href="docs/">Sign out</a>
        </strong>
      </div>
    </div>
  </div>
  <!-- /ZURBar -->
